//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 01 22:28:23 2021
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

